@font-face {
    font-family: "font";
    src: url(./webfont/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "font";
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
    font-weight: bold;
    box-shadow: 5px 5px 5px;
    position: sticky;
    width: 100vw;
    z-index: 1;
    top: 0;
}

header ul li {
    display: inline;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

header h1 {
    color: white;
    margin-left: 50px;
    font-weight: bold;
}

.About-me {
    display: flex;
    align-items: center;
}

.About-me img {
    width: 500px;
    height: 600px;
}

.About-me-tekst h1 {
    margin-bottom: 30px;
    color: blueviolet;
}

.About-me-tekst p {
    margin-bottom: 15px;
}

.middenstuk {
    display: flex;
    justify-content: center;
}

.Professional-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    width: 1500px;
}

.item {
    transition: 0.3s;
}

.item a {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.item :hover {
    transform: scale(1.1);
}

.item img {
    height: 200px;
    width: 300px;
}

.opdrachten {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
    max-width: 100vw;
    max-height: 100vw;
}

.pagina-container {
    height: 70ch;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pagina-container img {
    width: 300px;
    height: 300px;
}

.pagina-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
    text-align: center;
}

footer {
    margin-top: 100px;
}

#footer {
    background-color: var(--main-grey-white);
    padding: 25px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-text h3 {
    font-size: 1rem;
    color: var(--main-text);
}